@import 'site'
@import 'components/navbar'
@import 'components/emailControls'
@import 'components/editorContainer'
@import 'components/editorTypes'
@import 'components/textEditor'

h1 
	font-size: 14px
	
button 
	padding: 5px 10px
	border: 1px solid #000
	border-radius: 5px
	background-color: #FFF
	font-size: 18px