.imagesContainer 
	display: flex
	max-width: 100%
	justify-content: space-around
	flex-wrap: wrap

	.imagesContainer--image
		width: 150px
		height: 150px
		margin-top: 10px
		margin-bottom: 10px
		background-size: cover
		position: relative
		&:hover
			opacity: 0.8

		.imagesContainer--delete
			position: absolute
			right: 0
			bottom: 0

	.imagesContainer--loadMore
		flex-wrap: nowrap
		

